# 特徵轉換

## 測試資料

In [22]:
import pandas as pd

df = pd.DataFrame([['green', 'XL', 10.1, 'class1'],['red', 'M', 10.1, 'class1'],
                   ['green', 'L', 13.5, 'class2'],
                   ['blue', 'S', 15.3, 'class1']])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green   XL   10.1     class1
1    red    M   10.1     class1
2  green    L   13.5     class2
3   blue    S   15.3     class1

##  名目資料(Nominal Data) 轉換 -- One Hot Encoding

In [23]:
df2 = pd.get_dummies(df["color"], columns=["color"], 
                     prefix='is', prefix_sep='_')

# 連結轉換前後的欄位，相互比較
pd.concat((df["color"], df2), axis=1)

   color  is_blue  is_green  is_red
0  green        0         1       0
1    red        0         0       1
2  green        0         1       0
3   blue        1         0       0

## 有序資料(Ordinal Data) 轉換

In [24]:
# 以字典定義轉換規則
size_mapping = {'XL': 4,
                'L': 3,
                'M': 2,
                'S': 1}

# 使用 map() 轉換
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     4   10.1     class1
1    red     2   10.1     class1
2  green     3   13.5     class2
3   blue     1   15.3     class1